[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
autopep8 = "*"

[packages]
glfw = "*"
numpy = "*"
pillow = "*"
pyrr = "*"
svgwrite = "*"
pandas = "*"
autopep8 = "*"
bpython = "*"

[requires]
python_version = "3.7"
